@{
	var UserId = User.Claims.Where(u => u.Type == "sub")?.FirstOrDefault()?.Value;
	
}
<ul class="navbar-nav">
	@if (User.Identity.IsAuthenticated)
	{
		<li class="nav-item">
			<a class="nav-link" asp-area="Customer" asp-action="ViewProfile" asp-controller="User" asp-route-UserId="@UserId">View Profile </a>
		</li>
		<li class="nav-item">
			<a class="nav-link" asp-area="Customer" asp-action="EditProfile" asp-controller="User" asp-route-UserId="@UserId">Edit Profile</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" asp-area="Customer" asp-action="MyOrder" asp-controller="Order" asp-route-UserId="@UserId">Order List</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" asp-area="Customer" asp-action="MyAddress" asp-controller="Address" asp-route-UserId="@UserId">Address</a>
		</li>

		<li class="nav-item">
			<a class="nav-link" asp-action="Logout" asp-controller="Home">Logout</a>
		</li>
	}
	else
	{
		<li class="nav-item">
			<a class="nav-link" asp-action="Login" asp-controller="Home">Login</a>
		</li>
		
	}
</ul>